.dt-body-center{
	text-align: center;
}

.container-fluid{
	margin-top: 20px;
}

#logo_innova{
	width: 50%;
}

.logo-container{
	padding: 0 !important;
	height: auto !important;
}

#logo_topbar{
	height: 100%;
}
.datepicker { 
    z-index: 9999 !important;
}

.fondo-oscuro{
	background-color: #373c48;
}

.hover-gray:hover{
	background-color: lightgray;
}

.hover-gray-i:hover{
	background-color: #858796!important;
}

.bg-primary-gobar{
    background-color: #37bbed;
    background-image: linear-gradient(180deg,#37bbed 10%,#1dafe6 100%);
    background-size: cover;
}

.bg-login-imagen{
    background: url("../img/img_login_gris_tablero.jpg");
    background-position: center;
    background-size: cover;
}

.text-primary-gobar{
	color: #1dafe6;
}


.btn-primary-gobar{    
	color: #fff;
    background-color: #1dafe6;
    border-color: #1dafe6;
}


.btn-primary-gobar:hover{    
	color: #fff;
    background-color: #118dbb;
    border-color: #118dbb;
}

.btn-primary-gobar:focus{    
    color: #fff;
    background-color: #21a2d2;
    border-color: #21a2d2;
    box-shadow: 0 0 0 0.2rem rgba(105,194,228,.5);
}

.btn-primary-gobar:active{    
    color: #fff;
    background-color: #21a2d2;
    border-color: #21a2d2;
}